html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  width: 100%;
  position: fixed;
  background-color: #ffffff86;
  color: white;
  font-size: 20px;
  font-weight: 500;
  top: 0;
}

.homeT {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 850px;
}

.homeT p {
  color: black;
}

.logsin {
  gap: 32px;
  display: flex;
  margin-right: 20px;
}

.logsin p {
  color: black;
}

.logsin button {
  border-radius: 4px;
  background: #9eb24a;
  border-style: none;
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

/*  */

.container-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.head-img {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 65px;
}

.head-desk {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 65px;
}

/*  */

.container-why-us {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 78px;
  margin: 78px;
}

.why-us-list {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  width: 25%";
}

.why-us-list p{
font-size: 24px; 
font-weight: 400; 
text-align: center;
}

/*  */

.team{
  margin-left: 60px;
}

.team h1{
  margin: 5px;
}

.team p{
  margin: 0px;
}

.container-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 38px;
  margin-top: 50px;
}

.container-team img{
  width: 328px; 
  height: 320px;
}

.container-team h1{
  font-size: 20px; 
  font-weight: 800;
}

.container-team p{
  font-size: 18px; 
  font-weight: 700;
}
/*  */
.container-contact {
  width: 1300px;
  height: fit-content;
  background-color: white;
  border-radius: 30px;
  margin-top: 100px;
}

.container-contact img{
  width: 235px; height: 167px;
}

.revou-contact{
  display: flex; 
  justify-content: center;
}

.container-list-contact{
  display: flex; justify-content: space-around;
}

.sbmt-contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.sbmt-contact textarea {
    border-radius: 8px;
    border: none;
    background-color: rgba(233, 240, 240, 0.90);
    resize: none;
}

.btn-kirim {
  width: 233px;
  height: 55px;
  background-color: #9EB24A;
  border-radius: 4px;
  color: white;
  border: none;
  margin-bottom: 25px;
}

.btn-loading {
  margin-bottom: 25px;
  background-color: #9EB24A;
  width: 233px;
  height: 55px;
}

.informasi-contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.informasi-contact img{
  width: 467px;
  height: 309px;
}

.detail-contact{
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 5px;
}

.dtl-contact{
  display: flex; 
  justify-content: start; gap: 5px;
}

.dtl-contact img{
  height: 24px; 
  width: 24px; 
  border-radius: 50%;
}

.dtl-contact p{
  font-size: 18px;
  font-weight: 500;
}
/*  */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9EB24A;
  margin-top: 50px;
  height: 350px;
  padding: 50px;
}

.isi-footer{
  display: flex; 
  flex-direction: column;
}

.footer-img{
  gap: 24px; 
  display: flex; 
  justify-content: center;
}

.footer-img img{
  width: 46px; 
  height: 46px;
}
