html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
  min-width: 714px; 
}

/* navbar */
.header-img {
  width: 100%;
  height: 820px;
  background-image: url('../img/jawatengah/jawa-tengah.png');
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  width: -webkit-fill-available;
  position: fixed;
  background-color: #ffffff4a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 850px;
}

.navbar a {
  color: #00000094;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
.navbar a:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}

.burger {
  margin-right: 25px;
  display: none;
}
.burger i:hover {
  font-size: 23px;
}

.scrolled1 {
  background-color: #ffffff94;
}

.scrolled2 {
  background-color: #ffffff;
}

.logsin {
  gap: 32px;
  display: flex;
  margin-right: 20px;
}

.logsin button {
  border-radius: 4px;
  background: #9eb24a;
  border-style: none;
  width: 120px;
  font-size: 22px;
  font-weight: 500;
  color: #00000094;
}

.logsin p a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}

.logsin button a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}
.logsin p a:hover {
  text-decoration: none;
  color: #000000;
}

.logsin button a:hover {
  text-decoration: none;
  color: #000000;
}

/* navbar */

.container-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.head-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.head-img img{
  width: -webkit-fill-available;
}

.head-desk {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.head-desk h2{
  font-family: Karla;
  font-size: 18px;
  font-weight: 400;
}

.head-desk h1{
  font-family: Montserrat Alternates;
  font-size: 32px;
  color: #656029;
  font-weight: 700;
  letter-spacing: 0.16px;
}

.head-desk p{
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
}

/*  */

.jdl-about h1{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: Montserrat Alternates;
}

.jdl-about p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: Karla;
}

.container-why-us {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 40px;
  margin: 40px;
}

.why-us-list {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  width: 25%";
}

.why-us-list p{
font-size: 24px; 
font-weight: 400; 
text-align: center;
font-family: Karla;
color: #37454D;
}

/*  */

.team{
  margin-left: 60px;
}

.team h1{
  color: #051721;
font-family: Montserrat Alternates;
font-size: 32px;
font-weight: 700;
line-height: 125%;
letter-spacing: 0.16px;
}

.team p{
  color: #37454D;
font-family: Karla;
font-size: 16px;
font-weight: 400;
line-height: 150%;
}

.container-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 38px;
  margin-top: 50px;
}

.container-team img{
  width: 328px; 
  height: 320px;
  border-radius: 10px;
}

.container-team h1{
  color: #051721;
font-family: Montserrat Alternates;
font-size: 20px;
font-weight: 800;
line-height: 125%;
}

.container-team p{
  color: #37454D;
font-family: Karla;
font-size: 20px;
font-weight: 700;
line-height: 150%;
}
/*  */
.container-contact {
  width: 1300px;
  height: fit-content;
  background-color: white;
  border-radius: 30px;
  margin-top: 100px;
}

.container-contact img{
  width: 235px; height: auto;
}

.revou-contact{
  display: flex; 
  justify-content: center;
}

.container-list-contact{
  display: flex; justify-content: space-around;
}

.sbmt-contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.sbmt-contact h1{
  color: #051721;
font-family: Montserrat Alternates;
font-size: 32px;
font-weight: 700;
line-height: 125%;
letter-spacing: 0.16px;
}

.sbmt-contact p{
  color: #37454D;
font-family: Karla;
font-size: 16px;
font-weight: 400;
line-height: 150%;
}

.sbmt-contact textarea {
    border-radius: 8px;
    border: none;
    background-color: rgba(233, 240, 240, 0.90);
    resize: none;
}

.btn-kirim {
  width: 233px;
  height: 55px;
  background-color: #9EB24A;
  border-radius: 4px;
  color: white;
  border: none;
  margin-bottom: 25px;
}

.btn-loading {
  margin-bottom: 25px;
  background-color: #9EB24A;
  width: 233px;
  height: 55px;
}

.informasi-contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.informasi-contact img{
  width: -webkit-fill-available;
  height: fit-content;
}

.detail-contact{
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 5px;
}

.dtl-contact{
  display: flex; 
  justify-content: start; gap: 5px;
}

.dtl-contact img{
  height: 24px; 
  width: 24px; 
  border-radius: 50%;
}

.dtl-contact p{
  color: #37454D;
font-family: Karla;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}
/*  */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9EB24A;
  margin-top: 50px;
  height: 100%;
  padding: 20px;
}

.footer h1{
  color: #FFF;
font-family: Montserrat Alternates;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.footer p{
  color: #FFF;
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.isi-footer{
  display: flex; 
  flex-direction: column;
}

.footer-img{
  gap: 24px; 
  display: flex; 
  justify-content: center;
}

.footer-img img{
  width: 46px; 
  height: 46px;
}

@media screen and (min-width: 950px) and (max-width: 1100px){
  .head-desk h1 {
    font-size: 28px;
  }

  .head-desk h2{
    font-size: 17px;
  }
  
  .head-desk p {
    font-size: 15px;
  }
  .why-us-list p {
    font-size: 14px;
}
.footer p {
  font-size: 13px;
}

.logo-pesan img{
  width: 180px;
  height: auto;
}

.footer-img {
  gap: 20px;
}
}

@media screen and (min-width: 650px) and (max-width: 949px){
  .head-desk h1 {
    font-size: 19px;
  }

  .head-desk h2{
    font-size: 13px;
  }
  
  .head-desk p {
    font-size: 11px;
  }
.jdl-about h1{
  font-size: 30px;
}

.jdl-about p{
  font-size: 14px;
}

.team h1{
  font-size: 30px;
}

.team p{
  font-size: 14px;
}
  .why-us-list p {
    font-size: 12px;
}
  .why-us-list img{
    width: 85px;
    height: 85px;
  }
  .container-team img {
    width: 250px;
    height: 250px;
}
.container-team h1 {
  font-size: 14px;
}
.container-team p {
  font-size: 15px;
}
.logo-pesan img{
  width: 180px;
  height: auto;
}
.isi-footer img{
  width: 130px;
}

.footer-img img{
  width: 20px;
  height: 20px;
}

.footer h1{
  font-size: 14px;
}

.footer p {
  font-size: 10px;
}

.footer-img {
  gap: 10px;
}
}

@media screen and (max-width: 649px){
  .navbar {
    display: none;
  }
  .logsin {
    display: none;
  }
  .burger {
    display: block;
  }
  .head-desk h1 {
    font-size: 19px;
  }

  .head-desk h2{
    font-size: 13px;
  }
  
  .head-desk p {
    font-size: 11px;
  }
.jdl-about h1{
  font-size: 30px;
}

.jdl-about p{
  font-size: 14px;
}

.team h1{
  font-size: 30px;
}

.team p{
  font-size: 14px;
}
  .why-us-list p {
    font-size: 12px;
}
  .why-us-list img{
    width: 85px;
    height: 85px;
  }
  .container-team img {
    width: 250px;
    height: 250px;
}
.container-team h1 {
  font-size: 14px;
}
.container-team p {
  font-size: 15px;
}
.logo-pesan img{
  width: 180px;
  height: auto;
}
  .isi-footer img{
    width: 130px;
  }

  .footer-img img{
    width: 20px;
    height: 20px;
  }

  .footer h1{
    font-size: 14px;
  }

  .footer p {
    font-size: 10px;
  }

  .footer-img {
    gap: 10px;
  }
}