* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(233, 240, 240, 0.9);
}

.gambaratas {
  width: -webkit-fill-available;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.header-img {
  width: 100%;
  height: 820px;
  background-image: url('../img/jawatengah/jawa-tengah.png');
  background-repeat: round;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  position: fixed;
  background-color: #ffffff4a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    width: 100%;
    margin-right: 25px;
}

.navbar a {
  color: #00000094;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
}

.navbar a:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0, 3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.burger {
  margin: 18px;
  display: none;
}

.burger i:hover {
  font-size: 23px;
}

.scrolled1 {
  background-color: #ffffff94;
}

.scrolled2 {
  background-color: #ffffff;
}

/* navbar */

.desk-kota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desk-kota p {
  color: #656029;
  text-align: justify;
  font-family: Karla;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 50px;
}

.jdl button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Elsie Swash Caps;
  text-align: center;
  color: #656029;
  font-style: normal;
  line-height: normal;
  font-size: 72px;
  font-weight: 900;
  margin: 8px;
  width: 676px;
  height: 140px;
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  background-color: #ffffff69;
}

.slide {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-container {
  margin: 0 30px;
  overflow: hidden;
}

.card {
  background: #fff;
  border-radius: 8px;
}

.card .image-box {
  height: 200px;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.card .profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 15px;
}

.name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}

.profile-details button {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding: 1px 15px;
  border-radius: 10px;
  border-style: none;
  background-color: #9eb24a;
  cursor: pointer;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9eb24a;
  height: 100%;
  padding: 20px;
}

.footer h1 {
  color: #fff;
  font-family: Montserrat Alternates;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5px;
}

.footer p {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px;
}

.isi-footer {
  display: flex;
  flex-direction: column;
}

.footer-img {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.footer-img img {
  width: 46px;
  height: 46px;
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
  .gambaratas {
    height: 600px;
  }

  .slide {
    min-height: 50vh;
  }

  .desk-kota p {
    font-size: 30px;
  }
}

@media screen and (min-width: 521px) and (max-width: 949px) {
  .navbar {
    display: none;
  }

  .burger {
    display: block;
    margin-left: 65px;
    margin-top: 18px;
  }

  .header-active {
    background-color: #ffffffc0;
  }

  .header-active .navbar {
    display: block;
    margin-top: 10px;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .navbar a {
    font-size: 15px;
  }

  .header-active .navbar p {
    text-align: center;
  }

  .header {
    align-items: flex-start;
  }

  .header img {
    width: 120px;
  }

  .jdl button {
    font-size: 40px;
    width: 300px;
    height: 65px;
  }

  .gambaratas {
    height: 500px;
  }

  .slide {
    min-height: 45vh;
  }

  .desk-kota p {
    margin: 25px;
    font-size: 18px;
  }

  .isi-footer img {
    width: 125px;
  }

  .footer-img img {
    width: 19px;
    height: 19px;
  }

  .footer h1 {
    font-size: 17px;
  }

  .footer p {
    font-size: 12px;
  }

  .footer-img {
    gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  .navbar {
    display: none;
  }

  .burger {
    display: block;
    margin-left: 65px;
    margin-top: 13px;
  }

  .header-active {
    background-color: #ffffffc0;
  }

  .header-active .navbar {
    display: block;
    margin-top: 5px;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .navbar a {
    font-size: 14px;
    margin: 1px;
  }

  .header-active .navbar p {
    text-align: center;
  }

  .header {
    align-items: flex-start;
  }

  .header img {
    width: 90px;
  }

  .gambaratas {
    height: 350px;
  }

  .container {
    margin: 0px 45px;
  }

  .jdl button {
    font-size: 32px;
    width: 273px;
    height: 60px;
  }

  .slide {
    min-height: 42vh;
  }

  .desk-kota p {
    font-size: 12px;
    margin: 20px;
  }

  .isi-footer img {
    width: 90px;
  }

  .footer-img img {
    width: 13px;
    height: 13px;
  }

  .footer h1 {
    font-size: 8px;
  }

  .footer p {
    font-size: 7px;
  }

  .footer-img {
    gap: 5px;
  }
}
