html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
  min-width: 714px; 
}

/* navbar */
.header-img {
  width: 100%;
  height: 820px;
  background-image: url('../img/jawatengah/jawa-tengah.png');
  background-repeat: round;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  width: -webkit-fill-available;
  position: fixed;
  background-color: #ffffff4a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 850px;
}

.navbar a {
  color: #00000094;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
.navbar a:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}

.burger {
  margin-right: 25px;
  display: none;
}
.burger i:hover {
  font-size: 23px;
}

.scrolled1 {
  background-color: #ffffff94;
}

.scrolled2 {
  background-color: #ffffff;
}

.logsin {
  gap: 32px;
  display: flex;
  margin-right: 20px;
}

.logsin button {
  border-radius: 4px;
  background: #9eb24a;
  border-style: none;
  width: 120px;
  font-size: 22px;
  font-weight: 500;
  color: #00000094;
}

.logsin p a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}

.logsin button a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}
.logsin p a:hover {
  text-decoration: none;
  color: #000000;
}

.logsin button a:hover {
  text-decoration: none;
  color: #000000;
}

/* navbar */

.slides {
  display: flex;
  padding: 0 35px;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
  min-height: 10vh;
  margin-top: 50px;
}

.wrapper {
  width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  background: #fff;
  position: absolute;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}
.wrapper i:last-child {
  right: -23px;
}

.wrapper .carrousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carrousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carrousel.dragging img {
  pointer-events: none;
}

.carrousel img {
  height: 250px;
  border-radius: 30px;
  width: calc(100% / 3);
}

.carrousel img:first-child {
  margin-left: 0px;
}

.container-kota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.container-kota h1 {
  font-size: 72px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  color: white;
  margin: 8px;
}
.container-kota h2 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  margin: 8px;
}
/* akhir header homepage */

/* awal isi homepage */
.heaeder img {
  height: 600px;
}

.recom {
  display: flex;
  gap: 80px;
  font-size: 24px;
  color: #9eb24a;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.recom button {
  width: 124px;
  height: 61px;
  color: #9eb24a;
  border-radius: 20px;
  border-color: #9eb24a;
  font-size: 24px;
  font-weight: 800px;
  border: 3px solid;
}

.recom p:hover {
  cursor: pointer;
  color: #bad746;
}

.container-back-wisata {
  background-color: #9db24a0d;
  padding: 10px 0px 40px 0px;
  margin: 80px 0px 80px 0px;
}

.container-back-wisata h1 {
  color: #656029;
  margin: 0;
  text-align: center;
  font-family: Elsie Swash Caps;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-wisata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin: 20px 30px 0 30px;
}

.isi_wisata {
  width: 100%;
  background-repeat: round;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  transition: all 0.4s;
}

.isi_wisata h1 {
  color: white;
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
}

.isi_wisata h2 {
  font-size: 20px;
  color: white;
  margin: 0px 0px 5px 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
}

.isi_wisata button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 12%;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 10px;
}

.isi_wisata button a {
  text-decoration: none;
  color: #9eb24a;
}

.isi_wisata:hover {
  transform: scale(1.1);
  animation-duration: 1s;
}

/* akhir homepage */

/* awal testi*/
.about-us h1 {
  font-family: Elsie Swash Caps;
  text-align: center;
  font-size: 45px;
  color: #656029;
}

.container-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd5c;
  margin: 80px 0px 80px 0px;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  object-fit: cover;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* akhir testi */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9eb24a;
  margin-top: 50px;
  height: 100%;
  padding: 20px;
}

.footer h1 {
  color: #fff;
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer p {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.isi-footer {
  display: flex;
  flex-direction: column;
}

.footer-img {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.footer-img img {
  width: 46px;
  height: 46px;
}

/* RESPONSIVE */
@media screen and (min-width: 950px) and (max-width: 1100px) {

  /* .header-img {
    height: 650px;
  } */

  .isi_wisata {
    width: 100%;
    height: 230px;
  }

  .container-back-wisata h1 {
    font-size: 60px;
  }
  .isi_wisata h1,
  .isi_wisata h2,
  .isi_wisata button {
    font-size: 12px;
    font-weight: 100;
  }

  .recom {
    gap: 47px;
    font-size: 20px;
  }

  .footer p {
    font-size: 13px;
  }

  .footer-img {
    gap: 20px;
  }
}
@media screen and (min-width: 501px) and (max-width: 949px) {
  /* .header-img {
    height: 600px;
  } */

  .carrousel img {
    height: 170px;
    
  }

  .header-img {
    height: 577px;
    justify-content: space-around;
  }

  .isi_wisata {
    width: 100%;
    height: 230px;
  }

  .container-kota {
    margin-top: 140px;
  }

  .container-back-wisata h1 {
    font-size: 50px;
  }

  .isi_wisata h1,
  .isi_wisata h2,
  .isi_wisata button {
    font-size: 12px;
    font-weight: 100;
  }

  .container-wisata {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }

  .recom {
    gap: 40px;
    font-size: 18px;
  }
  .isi-footer img{
    width: 130px;
  }

  .footer-img img{
    width: 20px;
    height: 20px;
  }

  .footer h1{
    font-size: 14px;
  }

  .footer p {
    font-size: 10px;
  }

  .footer-img {
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  .logsin {
    display: none;
  }
  .burger {
    display: block;
  }

  .header {
    height: 72px;
  }

  .header img {
    width: 120px;
  }

  .header-img {
    height: 577px;
    justify-content: space-around;
  }

  .carrousel img {
    height: 170px;
  }
  .isi_wisata {
    width: 100%;
    height: 250px;
  }

  .container-back-wisata h1 {
    font-size: 50px;
  }

  .container-kota {
    margin-top: 140px;
  }

  .container-kota h1 {
    font-size: 55px;
  }

  .container-kota h2 {
    font-size: 20px;
  }

  .about-us h1{
    font-size: 35px;
  }

  .slide p{
    font-size: 15px;
  }

  .isi_wisata h1,
  .isi_wisata h2,
  .isi_wisata button {
    font-size: 18px;
    font-weight: 100;
  }
  .container-wisata {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .recom {
    gap: 30px;
    font-size: 16px;
  }

  .isi-footer img{
    width: 130px;
  }

  .footer-img img{
    width: 20px;
    height: 20px;
  }

  .footer h1{
    font-size: 14px;
  }

  .footer p {
    font-size: 10px;
  }

  .footer-img {
    gap: 10px;
  }
}
