html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
}

.header-img {
  width: 100%;
  height: 820px;
  background-image: url('../foto/fotoatashomepage.png');
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  width: 100%;
  position: fixed;
  background-color: #ffffff4a;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 850px;
}

.navbar a {
  color: #00000094;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
.navbar a:hover {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}

.scrolled1 {
  background-color: #ffffff94;
}

.scrolled2 {
  background-color: #ffffff;
}

.logsin {
  gap: 32px;
  display: flex;
  margin-right: 20px;
}

.logsin button {
  border-radius: 4px;
  background: #9eb24a;
  border-style: none;
  width: 120px;
  font-size: 22px;
  font-weight: 500;
  color: #00000094;
}

.logsin p a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}

.logsin button a {
  text-decoration: none;
  font-size: 22px;
  color: #00000094;
}
.logsin p a:hover {
  text-decoration: none;
  color: #000000;
}

.logsin button a:hover {
  text-decoration: none;
  color: #000000;
}

.container-kota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-kota h1 {
  font-size: 72px;
  font-weight: 400;
  color: white;
  margin: 8px;
}
.container-kota h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 8px;
}
/* akhir header homepage */

/* awal isi homepage */

#tour h1 {
  color: #656029;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.container-deskota {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #9db24a11;
  border-radius: 50px;
  margin: 20px;
  padding: 20px 0px 30px 0px;
}

.container-deskota a{
  text-decoration: none;
}

.des-kota {
  background-image: url('../foto/Isi1.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}

.des-kota2 {
  background-image: url('../foto/Pekalongan.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}

.des-kota3 {
  background-image: url('../foto/Surakarta.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}

.des-kota4 {
  background-image: url('../foto/Salatiga.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}

.des-kota5 {
  background-image: url('../foto/Magelang.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}

.des-kota6 {
  background-image: url('../foto/Tegal.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transition: all 0.4s;
}
.des-kota:hover {
  background-image: url('../foto/Isi1.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota2:hover {
  background-image: url('../foto/Pekalongan.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota3:hover {
  background-image: url('../foto/Surakarta.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota4:hover {
  background-image: url('../foto/Salatiga.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota5:hover {
  background-image: url('../foto/Magelang.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota6:hover {
  background-image: url('../foto/Tegal.png');
  background-repeat: round;
  width: 609px;
  height: 329px;
  margin: 15px;
  transform: scale(0.9);
}

.des-kota h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
.des-kota2 h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
.des-kota3 h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
.des-kota4 h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
.des-kota5 h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
.des-kota6 h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}

.recom {
  display: flex;
  gap: 80px;
  font-size: 24px;
  font-weight: 800px;
  margin-left: 50px;
  color: #9eb24a;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
  width: 100%;
}

.recom button {
  width: 124px;
  height: 61px;
  color: #9eb24a;
  border-radius: 20px;
  border-color: #9eb24a;
  font-size: 24px;
  font-weight: 800px;
  border: 3px solid;
}

.recom p:hover {
  cursor: pointer;
  color: #bad746;
}

.container-back-wisata {
  background-color: #9db24a11;
  padding: 10px 0px 40px 0px;
  margin: 50px 20px 20px 20px;
  border-radius: 50px;
}

.container-wisata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin: 0 30px 0 30px;
}

.isi_wisata {
  width: 100%;
  background-repeat: round;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  transition: all 0.4s;
}

.isi_wisata:hover {
  transform: scale(1.1);
  animation-duration: 1s;
}

/* akhir homepage */

/* awal testi*/
.container-swipe {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  object-fit: cover;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* akhir testi */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9EB24A;
  margin-top: 50px;
  height: 300px;
  padding: 50px;
}

.isi-footer{
  display: flex; 
  flex-direction: column;
}

.footer-img{
  gap: 24px; 
  display: flex; 
  justify-content: center;
}

.footer-img img{
  width: 46px; 
  height: 46px;
}


/* RESPONSIVE */
