html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
  /* zoom: 80%; */
}

/* navbar */
.header-img {
  width: 100%;
  height: 820px;
  background-image: url('../img/jawatengah/jawa-tengah.png');
  background-repeat: round;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  position: fixed;
  background-color: #ffffff4a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.navbar a {
  color: #00000094;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
}

.navbar a:hover {
  color: #d2e3c8;
  text-decoration: none;
  transition: all 0.1s;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #d2e3c8;
  transition: 0, 3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.burger {
  margin-top: 23px;
  margin-right: 25px;
  display: none;
}
.burger i:hover {
  font-size: 23px;
}

.scrolled1 {
  background-color: #ffffff94;
}

.scrolled2 {
  background-color: #ffffff;
}

.logsin .icn {
  font-size: 35px;
  color: black;
}

.logsin .icn:hover {
  color: #d2e3c8;
}

/* navbar */

.slides {
  display: flex;
  padding: 0 35px;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
  min-height: 10vh;
  margin-top: 50px;
}

.wrapper {
  width: 1000px;
  position: relative;
}

.wrapper i {
  top: 50%;
  background: #fff;
  position: absolute;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

.wrapper .carrousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carrousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carrousel.dragging img {
  pointer-events: none;
}

.carrousel img {
  height: 200px;
  border-radius: 30px;
  width: calc(100% / 3);
}

.carrousel img:first-child {
  margin-left: 0px;
  object-fit: fill;
}

.container-kota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.container-kota h1 {
  font-size: 70px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  color: white;
  margin: 8px;
}

.container-kota h2 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  margin: 8px;
}

/* akhir header homepage */

/* awal isi homepage */

.heaeder img {
  height: 600px;
}

.contai {
  background-color: #ebf3e8;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #d2e3c8;
  border-radius: 50px;
  padding: 0 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul p {
  display: inline-block;
  list-style: none;
  padding: 5px 18px;
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

nav ul p::after {
  content: '';
  background: #b2c8ba;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

nav ul p:hover {
  color: #fff;
}

nav ul p:hover::after {
  top: 50%;
  opacity: 1;
}

.container-back-wisata {
  background-color: #9db24a0d;
  padding: 10px 0px 40px 0px;
  margin: 50px 0px 50px 0px;
}

.container-back-wisata h1 {
  color: #656029;
  margin: 0;
  text-align: center;
  font-family: Elsie Swash Caps;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-wisata {
  display: flex;
  margin: 10px 50px;
  flex-wrap: wrap;
  gap: 30px 25px;
  justify-content: space-evenly;
  align-items: center;
}

ul#rekomkota {
  padding: 0 5px;
}

.isi_wisata {
  min-width: 235px;
  max-width: 235px;
  background-repeat: round;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 23px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border: 2px solid #86a789;
}

.isi_wisata h1 {
  color: white;
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-size: 20px;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-style: normal;
}

.isi_wisata h2 {
  font-size: 20px;
  color: white;
  margin: 0px 0px 47px 0px;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-style: normal;
}

.isi_wisata button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 12%;
  padding: 8px 16px;
  border-radius: 9px;
  font-size: 16px;
  font-style: normal;
  border: none;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 10px;
  position: absolute;
  bottom: -30%;
  transition: 0.6s;
  z-index: 1;
}

.isi_wisata:hover {
  transform: scale(1.1);
  background-color: black;
}

.isi_wisata button a {
  text-decoration: none;
  color: #9eb24a;
}

.isi_wisata:hover button {
  transition: 0.5s;
  animation-duration: 1s;
  bottom: 0;
}

/* akhir homepage */

/* awal testi*/

.about-us h1 {
  font-family: Elsie Swash Caps;
  text-align: center;
  font-size: 45px;
  color: #656029;
}

.container-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd5c;
  margin: 80px 0px 80px 0px;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  object-fit: cover;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

/* akhir testi */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #9eb24a;
  margin-top: 50px;
  height: 100%;
  padding: 20px;
}

.footer h1 {
  color: #fff;
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer p {
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.isi-footer {
  display: flex;
  flex-direction: column;
}

.footer-img {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.footer-img img {
  width: 46px;
  height: 46px;
}

/* RESPONSIVE */

@media screen and (min-width: 551px) and (max-width: 900px) {
  .navbar {
    width: 300px;
  }

  .navbar a {
    font-size: 15px;
  }

  .header img {
    width: 120px;
  }

  .carrousel img {
    height: 170px;
  }

  .header-img {
    height: 577px;
    justify-content: space-around;
  }

  .logsin .icn {
    font-size: 27px;
  }

  .isi_wisata {
    min-width: 145px;
    max-width: 145px;
    height: 165px;
    border-radius: 10px;
  }

  .container-wisata {
    margin: 10px 20px;
    gap: 15px;
  }

  .container-kota {
    margin-top: 140px;
  }

  .container-kota h1 {
    font-size: 55px;
  }

  .container-kota h2 {
    font-size: 18px;
  }

  .container-back-wisata h1 {
    font-size: 40px;
  }

  nav ul p {
    padding: 3px 9px;
    margin: 3px;
    font-size: 12px;
  }

  .isi_wisata h2 {
    font-size: 11px;
    margin: 0px 0px 25px 0px;
  }

  .isi_wisata h1 {
    font-size: 11px;
    font-weight: 100;
  }

  .isi_wisata button {
    font-size: 8px;
    padding: 7px;
    width: 55%;
    border-radius: 8px;
    margin-bottom: 5px;
  }

  .isi-footer img {
    width: 130px;
  }

  .slide .quote-icon {
    font-size: 17px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 28px !important;
  }

  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
  }

  .footer-img img {
    width: 20px;
    height: 20px;
  }

  .slide p {
    font-size: 14px;
  }

  .testimonial {
    padding: 30px;
  }

  .testimonial .image {
    width: 120px;
  }

  .about-us h1 {
    font-size: 40px;
  }

  .footer h1 {
    font-size: 12px;
  }

  .footer p {
    font-size: 8px;
  }

  .footer-img {
    gap: 9px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    display: none;
  }

  .navbar a {
    font-size: 15px;
  }

  .logsin {
    display: flex;
    justify-content: center;
    margin-right: 0;
    padding-bottom: 20px;
  }

  .logsin .icn {
    font-size: 27px;
  }

  .burger {
    display: block;
    margin-left: 65px;
  }

  .header-active {
    background-color: #ffffffc0;
  }

  .header-active .navbar {
    display: block;
    margin-top: 0;
  }

  .navbar {
    margin-bottom: 0;
  }

  .header-active .navbar p {
    text-align: center;
    margin: 10px 0;
  }

  .header {
    align-items: flex-start;
  }

  .header img {
    width: 100px;
  }

  .header-img {
    height: 497px;
    justify-content: space-around;
  }

  .contai {
    height: 7vh;
  }

  nav ul p {
    padding: 3px 3px;
    margin: 3px;
    font-size: 9px;
  }

  ul#rekomkota {
    padding: 0 5px;
    margin: 6px 0;
  }

  .wrapper i {
    width: 25px;
    height: 25px;
    line-height: 30px;
  }

  .wrapper i:first-child {
    left: -15px;
  }

  .wrapper i:last-child {
    right: -13px;
  }

  .carrousel img {
    height: 125px;
    width: calc(100% / 2);
    border-radius: 15px;
  }

  .isi_wisata {
    min-width: 90px;
    max-width: 90px;
    height: 110px;
    border-radius: 10px;
    border: 1px solid #86a789;
  }

  .container-wisata {
    margin: 10px 20px;
    gap: 10px;
  }

  .container-back-wisata h1 {
    font-size: 25px;
  }

  .container-back-wisata {
    margin: 10px 0;
    padding: 10px 0;
  }

  .container-kota {
    margin-top: 140px;
  }

  .container-kota h1 {
    font-size: 35px;
  }

  .container-kota h2 {
    font-size: 13px;
  }

  .about-us h1 {
    font-size: 29px;
  }

  .slide p {
    font-size: 8px;
    margin: 0;
    padding: 0 50px;
  }

  .slide .quote-icon {
    font-size: 15px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }

  .swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
  }

  .testimonial {
    padding: 25px;
  }

  .testimonial .image {
    width: 80px;
  }

  .isi_wisata h2 {
    font-size: 7px;
    margin: 0px 0px 20px 0px;
  }

  .isi_wisata h1 {
    font-size: 9px;
    font-weight: 100;
  }

  .isi_wisata button {
    font-size: 5px;
    font-weight: 100;
    padding: 7px;
    width: 55%;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .footer {
    padding: 10px;
  }

  .isi-footer img {
    width: 80px;
  }

  .footer-img img {
    width: 15px;
    height: 15px;
  }

  .footer h1 {
    font-size: 8px;
  }

  .footer p {
    font-size: 6px;
  }

  .footer-img {
    gap: 6px;
  }
}
