body {
  background-image: url('../img/logsin/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form {
  margin-top: -25px;
}

.img img{
  width: 150px;
}

.ipt-ipt{
  display: flex; 
  justify-content: space-between !important;
}

.ipt-size{
  width: 49%;
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 10px 50px 40px 50px;
  box-sizing: border-box;
}

.logsin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.logsin .judul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.judul h1 {
  font-size: 40px;
  font-weight: 600;
}

.logsin .judul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logsin .img {
  display: inline-flex;
  float: right;
}

.ipt {
  box-sizing: border-box;
}

.ipt label {
  position: relative;
  display: block;
  z-index: 11;
  margin-left: 10px;
  background-color: white;
  width: fit-content;
  padding: 0 5px;
}

.ipt input {
  position: relative;
  height: 45px;
  bottom: 10px;
  z-index: 10;
  border: 1.4px solid #86a789;
  border-radius: 3px;
  padding: 0 15px;
  width: -webkit-fill-available;
}

.t-merah {
  color: red;
  text-decoration: none;
}

.t-merah:visited {
  color: red;
}

.btn-submit {
  background-color: #86a789;
  width: -webkit-fill-available;
  height: 45px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.t-alig-center {
  text-align: center;
}

.line-br p span {
  position: relative;
  background-color: white;
  padding: 0 20px;
  z-index: 15;
  color: gray;
}
.t-alig-center hr {
  position: relative;
  bottom: 25px;
  z-index: 12;
}

.login-with {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login-with button {
  width: 33%;
  padding: 7px 0;
  border: 1px solid #276968;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-with button:hover {
  background-color: #e7e7e7;
}
@media screen and (min-width: 1051px) and (max-width: 1300px) {
  .login {
    width: 60%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1050px) {
  .login {
    width: 70%;
  }

  .container {
    border-radius: 20px;
    padding: 20px;
  }

  .judul h1 {
    font-size: 30px;
    font-weight: 600;
  }

  img {
    width: 130px;
  }

  p {
    font-size: 17px;
  }

  .ipt label {
    font-size: 14px;
    margin-bottom: 3px;
    padding: 0 5px;
  }

  .ipt input {
    height: 36px;
    bottom: 10px;
    font-size: 12px;
  }

  .logsin .judul {
    font-size: 15px;
    margin: 7px 0;
  }

  .logsin .img {
    display: inline-flex;
    float: right;
    margin: 0;
  }

  .btn-submit {
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
  }

  .t-alig-center {
    margin: 5px 0;
    font-size: 16px;
  }

  .line-br p span {
    padding: 0 10px;
  }

  .t-alig-center hr {
    bottom: 27px;
  }

  .login-with button {
    padding: 4px 0;
    border-radius: 3px;
  }

  button img {
    width: 26px;
  }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
  .login {
    width: 70%;
  }

  .container {
    border-radius: 20px;
    padding: 20px;
  }

  .judul h1 {
    font-size: 20px;
    font-weight: 600;
  }

  img {
    width: 100px;
  }

  p {
    font-size: 13px;
  }

  .ipt label {
    font-size: 12px;
    margin-bottom: 3px;
    padding: 0 5px;
  }

  .ipt input {
    height: 32px;
    bottom: 10px;
    font-size: 10px;
  }

  .logsin .judul {
    font-size: 13px;
    margin: 0;
  }

  .logsin .img {
    display: inline-flex;
    float: right;
    margin: 0;
  }

  .btn-submit {
    height: 29px;
    border-radius: 5px;
    font-size: 15px;
  }

  .t-alig-center {
    margin: 5px 0;
    font-size: 13px;
  }

  .line-br p span {
    padding: 0 7px;
  }

  .t-alig-center hr {
    bottom: 20px;
  }

  .login-with button {
    padding: 4px 0;
    border-radius: 3px;
  }

  button img {
    width: 18px;
  }
}

@media screen and (max-width: 550px) {
  .login {
    width: 80%;
  }

  .container {
    border-radius: 15px;
    padding: 15px;
  }

  .judul h1 {
    font-size: 17px;
    font-weight: 600;
  }

  img {
    width: 70px;
  }

  p {
    font-size: 10px;
  }

  .ipt label {
    font-size: 10px;
    margin-bottom: 3px;
    padding: 0 5px;
  }

  .ipt input {
    height: 30px;
    bottom: 10px;
    font-size: 9px;
  }

  .logsin .judul {
    font-size: 12px;
    margin: 0;
  }

  .logsin .img {
    float: right;
    margin: 0;
  }

  .btn-submit {
    height: 27px;
    border-radius: 5px;
    font-size: 13px;
  }

  .t-alig-center {
    margin: 5px 0;
    font-size: 12px;
  }

  .line-br p span {
    padding: 0 7px;
  }

  .t-alig-center hr {
    bottom: 17px;
  }

  .login-with button {
    padding: 4px 0;
    border-radius: 3px;
  }

  button img {
    width: 17px;
  }
}
