body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(233, 240, 240, 0.9);
}

.checkout {
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
  height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -200px;
}

.container h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
}

.container h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
}

.ipt {
  width: 100%;
}

.ipt input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #d9d9d9;
}

.smbt {
  width: 100%;
}

.smbt button {
  border: none;
  background-color: #86a789;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
}

.sett {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.sett-content {
  margin: 50px auto;
  width: 80%;
  max-width: 1200px;
  border-radius: 5px;
  min-width: 350px;
}

.sett-head {
  background-color: #9eb24a;
  border-radius: 40px 20px 0 0;
  color: #fff;
}

.sett-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-button {
  font-size: 40px;
  line-height: 40px;
  color: #ff0000;
  border: none;
  margin-top: -5px;
  margin-right: -15px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.close-button:hover {
  background-color: #fefefe73;
  border: 0.5px solid #ff0000;
  border-radius: 50%;
}
