body {
  margin: 0px;
  padding: 0px;
  background-image: url(../img/logsin/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
  background: rgb(174 190 104 / 89%);
}

.container h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
}

.ipt h1 {
  font-size: 14px;
  margin: 10px 0 2px 8px;
}

.form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}

.imge {
  width: 35%;
}

.imge img {
  width: 100%;
}

.ipt {
  width: 100%;
}

.ipt input {
  width: 100%;
  border-radius: 8px;
  height: 30px;
  border: none;
  font-size: 10px;
  background-color: #d9d9d9;
  padding-left: 10px;
}

.smbt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.smbt button {
  border: none;
  background-color: #86a789;
  border-radius: 9px;
  width: 35%;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}

.sett {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.sett-content {
  margin: 50px auto;
  width: 60%;
  max-width: 1200px;
  border-radius: 5px;
}

.sett-head {
  background-color: #9eb24a;
  border-radius: 40px 20px 40px 40px;
  color: #fff;
  padding-bottom: 5px;
}

.sett-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-button {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  border: none;
  margin-top: -5px;
  margin-right: -15px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.close-button:hover {
  background-color: #fefefe73;
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.container-pop {
  margin: 0 50px 30px 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  padding: 25px 0px;
  border-radius: 35px;
}

.container-pop img{
  width: 150px;
}

.container-pop h1 {
  color: #9eb24a;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.container-pop p {
  padding: 10px 20px;
  height: 90px;
  color: #000;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.12px;
}

.container-pop button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #9eb24a;
  color: #fff;
  text-align: center;
  font-size: 24px;
  border-style: none;
}

@media screen and (min-width: 600px) and (max-width: 949px) {
  h1 {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
  }
  
  .ipt h1 {
    font-size: 10px;
    margin: 10px 0 2px 3px;
  }
  
  .ipt input {
    border-radius: 6px;
    height: 20px;
    font-size: 8px;
  }
  
  .smbt button {
    border-radius: 7px;
    height: 27px;
    font-size: 11px;
  }
  
  .sett-content {
    width: 80%;
  }

  .sett-head {
    padding-bottom: 10px;
    padding-top: 0;
  }

  .sett-header {
    padding: 5px 20px;
  }

  .close-button {
    font-size: 40px;
  }

  .container-pop {
    padding: 30px 0;
    margin: 0 35px 20px 35px;
  }

  .container-pop p {
    height: 80px;
    text-align: center;
    font-size: 23px;
  }

  .container-pop img {
    width: 130px;
  }

  .container-pop h1 {
    font-size: 25px;
  }

  .container-pop button {
    width: 50%;
    height: 45px;
    font-size: 22px;
  }
}

@media screen and (max-width: 599px) {
  .imge {
    display: none;
  }

  .checkout {
    width: 100%;
  }

  .container {
    margin: 0;
    width: 65%;
  }

  h1 {
    font-size: 16px;
  }
  
  .ipt h1 {
    font-size: 8px;
    margin: 10px 4px 0 0;
  }
  
  .ipt input {
    border-radius: 3px;
    height: 15px;
    font-size: 6px;
  }
  
  .smbt button {
    border-radius: 7px;
    height: 25px;
    font-size: 9px;
    width: 70px;
  }

  .sett-content {
    width: 80%;
  }

  .sett-head {
    padding-bottom: 10px;
    padding-top: 0;
  }

  .sett-header {
    padding: 5px 20px;
  }

  .close-button {
    font-size: 30px;
  }

  .container-pop {
    padding: 15px 0;
    margin: 0 20px 10px 20px;
  }

  .container-pop p {
    height: 45px;
    text-align: center;
    font-size: 14px;
  }

  .container-pop img {
    width: 60px;
  }

  .container-pop h1 {
    font-size: 18px;
  }

  .container-pop button {
    width: 50%;
    height: 36px;
    font-size: 18px;
  }
}
